<div class="tracking-widgets-main">
  <div class="box-height">
    <div class="summary-box">
      <div class="title-text">
        Summary
        <div class="summary-setting">
          <i></i>
          <ul class="summary-setting-drop">
            <li>
              <div class="setting-checkbox">
                <input id="check1" name="check" type="checkbox" value="check1">
                <label for="check1">Summary</label>
              </div>
            </li>
            <li>
              <div class="setting-checkbox">
                <input id="check2" name="check" type="checkbox" value="check2">
                <label for="check2">Idle time</label>
              </div>
            </li>
            <li>
              <div class="setting-checkbox">
                <input id="check3" name="check" type="checkbox" value="check3">
                <label for="check3">Speeds</label>
              </div>
            </li>
            <li>
              <div class="setting-checkbox">
                <input id="check4" name="check" type="checkbox" value="check4">
                <label for="check4">Alerts</label>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="tracking-widgets-box">
        <img alt="" src="assets/images/summary-img.png" title="" style="width:100%;">
      </div>
    </div>
    <div class="summary-box">
      <div class="title-text">
        Summary
        <div class="summary-seeting">
          <i></i>
        </div>
      </div>
      <div class="tracking-widgets-box">
        <img alt="" src="assets/images/average-time-img.png" title="" style="width:100%;">
      </div>
    </div>
    <div class="aver-time-box">
      <div class="title-text">
        Average Idle Time (Min) / Top Idle
        <div class="summary-seeting">
          <i></i>
        </div>
      </div>
      <div class="tracking-widgets-box">
        <img alt="" src="assets/images/average-speed-img.png" title="" style="width:100%;">
      </div>
    </div>
  </div>
</div>