<div class="login-main">
  <!-- left box -->
  <div class="login-left"></div>
  <!-- right box -->

  <div class="login-right">
    <div class="login-form-main">
      <div class="login-form-logo full-width">
        <img src="assets/images/logo-main.png" title="logo" alt="logo" />
      </div>
      <span>Your current password is a system generated password. Please change this password to a more secure value</span>
      <!-- change password form -->
      <form name='form' novalidate (ngSubmit)="f.form.valid && changeClick()" #f="ngForm" class="login-form-box full-width">
        <div class="form-group">
          <label class="form-label" for="Password">New Password:</label>
          <input type="password" class="form-control" name='NewPassword' [(ngModel)]="changePasswordModel.NewPassword" #NewPassword="ngModel"
            validateEqual="ConfirmPassword" reverse="true" required />
          <div *ngIf="f.submitted && !NewPassword.valid" class="err-label">Please enter New Password</div>
        </div>
        <div class="form-group">
          <label class="form-label" for="ConfirmPassword">Confirm Password:</label>
          <input type="password" class="form-control" name='ConfirmPassword' [(ngModel)]="changePasswordModel.ConfirmPassword" validateEqual="NewPassword"
            #ConfirmPassword="ngModel" reverse="false" required />
          <div *ngIf="f.submitted && !ConfirmPassword.valid" class="err-label">Password mismatch</div>
        </div>

        <input type="submit" [disabled]="loading" class="full-btn mt5 btn-font smooth-transition" value="{{this.loading ? 'Loading...' : 'Submit' }}">
        <i *ngIf="loading" class="fa fa-refresh fa-pulse fa-fw margin-bottom"></i> />
      </form>
      <!-- change password form end-->
    </div>
  </div>
</div>
<div class="footer-main">
  <img src="assets/images/footer-logo.png" title="footer-logo" alt="footer-logo" />
</div>