<!-- header section -->
<header class="main-header">
  <div class="main-logo">
    <a routerLink="/user/dashboard"><img [src]="clientLogoUrl" title="logo" alt="logo" style="max-width:178px; max-height:40px;" /></a>
  </div>
  <ul class="hader-user">
    <li class="user-box">
      <a href="#">
        <div *ngIf="LogoUrl == '' else logo_img" class="user-img">{{userAlis}}</div>
        <ng-template #logo_img>
          <img class="user-img" [src]="LogoUrl" title="user-img" alt="user-img" /></ng-template>
        <!-- <img src="assets/images/default-user-image.png" title="user-img" alt="user-img" /> -->
        {{AuthUserObj.FirstName}} {{AuthUserObj.LastName}}
      </a>
      <div class="menu-sub-box">
        <a href="javascript:void(0)" (click)="changePasswordClick()">Change Password</a>
        <a href="javascript:void(0)" (click)="logoutClick()">Logout</a>
      </div>
    </li>
  </ul>
  <ul class="menu-main">
    <li><a routerLinkActive="menu-main-link-active" routerLink="/user/tracking-log">Tracking Log</a></li>
    <li><a routerLinkActive="menu-main-link-active" routerLink="/user/fleet">Fleet</a></li>
    <li><a routerLinkActive="menu-main-link-active" routerLink="/user/people">People</a></li>
    <li><a routerLinkActive="menu-main-link-active" routerLink="/user/live-tracking">Live Tracking</a></li>
    <li><a routerLinkActive="menu-main-link-active" routerLink="/user/export">Export</a></li>
    <li><a (click)="announcementClick()">Announcement</a></li>
    <li class="menu-sub">
      <a href="javascript:void(0);">Settings</a>
      <div class="menu-sub-box">
        <a routerLinkActive="menu-main-link-active" routerLink="/user/places">Places</a>
        <a routerLinkActive="menu-main-link-active" routerLink="/user/alerts">Alerts</a>
      </div>
    </li>
  </ul>

</header>
<!-- header section end-->