<div class="login-main">
    <!-- left box -->
    <div class="login-left"></div>
    <!-- right box -->

    <div class="login-right">
        <div class="login-form-main">
            <div class="login-form-logo full-width">
                <img src="assets/images/logo-main.png" title="logo" alt="logo" />
            </div>
            <div *ngIf="!changeSuccess;else success_content">
                <!-- reset password form -->
                <form name='form' novalidate (ngSubmit)="f.form.valid && resetClick()" #f="ngForm" class="login-form-box full-width">
                    <div class="form-group">
                        <label class="form-label" for="email">Username:</label>
                        <input type="email" class="form-control" name='UserName' [(ngModel)]="resetmodel.UserName" #UserName="ngModel" required disabled="disabled"
                        />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="Password">Password:</label>
                        <input type="password" class="form-control" name='Password' [(ngModel)]="resetmodel.Password" #Password="ngModel" reverse="true"
                            validateEqual="ConfirmPassword" required />
                        <div *ngIf="f.submitted && !Password.valid" class="help-block">Please enter Password</div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="ConfirmPassword">Confirm Password:</label>
                        <input type="password" class="form-control" name='ConfirmPassword' [(ngModel)]="resetmodel.ConfirmPassword" validateEqual="Password"
                            #ConfirmPassword="ngModel" reverse="false" required />
                        <div *ngIf="f.submitted && !ConfirmPassword.valid" class="help-block">Password mismatch</div>
                    </div>

                    <input type="submit" [disabled]="loading" class="login-btn btn-font smooth-transition" value="Reset Password">
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                    />
                </form>
                <!-- reset password form end-->
            </div>
            <ng-template #success_content>
                <div>
                    <span>Your password has been updated successfully.</span>
                    <br/>
                    <input type="button" (click)="backtoSignin()" class="login-btn btn-font smooth-transition" value="Back to Sign In">
                </div>
            </ng-template>
        </div>
    </div>
</div>
<div class="footer-main">
    <img src="assets/images/footer-logo.png" title="footer-logo" alt="footer-logo" />
</div>