<div class="content-breadcrumb">
  <ul class="breadcrumb-box">
    <li><a href="#">Settings</a></li>
    <li><a href="#">Announcement</a></li>
  </ul>
</div>

<div class="content-box">
  <div *ngIf="scriptLoaded">
    <label class="control-label">Expiry Date</label>
    <md2-datepicker [(ngModel)]="date" type="datetime" openOnFocus="true"></md2-datepicker>

    <ckeditor [(ngModel)]="ckeditorContent" [config]="{removeButtons: 'Source,Save,NewPage,Preview,Print,Templates,Cut,Copy,Paste,PasteText,PasteFromWord,Undo,Redo,Find,Replace,SelectAll,Form,Checkbox,Radio,TextField,Textarea,selectfield,Button,ImageButton,HiddenField,CopyFormatting,RemoveFormat,Indent,Outdent,Blockquote,CreateDiv,language,Link,Unlink,Anchor,Image,Flash,Table,Smiley,SpecialChar,Iframe,FormattingStyles,Maximize,ShowBlocks,About,HorizontalRule,SpellChecker'}"
      debounce="500">
    </ckeditor>
    <button type="button" (click)="saveAnnouncement()" class="btn btn-default btn-orange">Save</button>
  </div>
</div>