<div class="content-wrapper">
    <div class="content-breadcrumb">
        <ul class="breadcrumb-box">
            <li><a href="#">Live Tracking</a></li>
            <li><a href="#">Group Editor</a></li>
            <li><a href="#">Individual</a></li>
            <li>Add New</li>
        </ul>
    </div>
    <div class="content-box">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#1" data-toggle="tab">Overview</a></li>
            <li class=""><a href="#2" data-toggle="tab">Without clearfix</a></li>
        </ul>

        <div class="tab-content form-detail">
            <div class="tab-pane active" id="1">
                <div class="form-horizontal">
                    <div class="form-group mb30">
                        <div class="col-sm-3">
                            <label class="control-label">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label">Email:</label>
                            <div class="add-field">
                                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                                <a href="#" class="add-icon"></a>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                        </div>
                    </div>
                    <div class="form-group mb30">
                        <div class="col-sm-6">
                            <label class="control-label">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                        </div>
                    </div>
                    <div class="form-group mb30">
                        <div class="col-sm-3">
                            <label class="control-label">Email:</label>
                            <select class="form-control" id="sel1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                        </div>
                    </div>
                    <div class="btn-box">
                        <input type="submit" class="btn btn-defult" value="cancel">
                        <input type="submit" class="btn btn-defult" value="save">
                    </div>
                </div>
            </div>
            <div class="tab-pane " id="2">
                <h3>Notice the gap between the content and tab after applying a background color</h3>
            </div>
        </div>

    </div>
</div>