<div class="content-wrapper">
    <div class="content-breadcrumb">
        <ul class="breadcrumb-box">
            <li><a href="#">Live Tracking</a></li>
            <li><a href="#">Group Editor</a></li>
            <li>Driver</li>
        </ul>
    </div>
    <!-- top button -->
    <div class="top-button-main">
        <div class="top-filter pull-left">
            <form class="form-inline">
                <div class="form-group">
                    <label class="control-label-top">select column</label>
                    <select class="form-control" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label-top">select column</label>
                    <input class="form-control" placeholder="Enter email">
                </div>
                <input type="submit" class="btn btn-gray ml5" value="Add Filter">
            </form>
        </div>
        <div class="top-button-right pull-right">
            <input type="submit" class="btn btn-orange pull-right ml10" value="+ Add New">
            <input type="submit" class="btn btn-orange pull-right" value="Delete" disabled>
            <div class="top-button-separator"></div>
            <input type="submit" class="btn btn-gray pull-right ml10" value="Download (Excel)">
            <input type="submit" class="btn btn-gray pull-right" value="Assign Existing">
        </div>
    </div>

    <div class="grid-main full-width">
        <div class="grid-filter full-width">
            <span>Allen<a href="#">x</a></span>
            <span>Allen<a href="#">x</a></span>
        </div>
        <div class="grid-box full-width">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                    </tr>
                    <tr>
                        <td>Mary</td>
                        <td>Moe</td>
                        <td>mary@example.com</td>
                    </tr>
                    <tr>
                        <td>July</td>
                        <td>Dooley</td>
                        <td>july@example.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>