<div class="content-breadcrumb">
    <ul class="breadcrumb-box">
        <li><a href="#">Settings</a></li>
        <li><a href="#">Manage Clients</a></li>
    </ul>
</div>
<div class="top-button-main">
    <div class="top-filter pull-left">
        <form name="form" (ngSubmit)="addFilter()" #f="ngForm" class="form-inline" novalidate>
            <div class="form-group">
                <label class="control-label-top">Select Column</label>
                <kendo-dropdownlist name="ddlFilter" class="form-control" [data]="filterDataSource" [(ngModel)]="model.ddlFilter" #ddlFilter="ngModel"
                    [textField]="'Name'" [valueField]="'Id'"></kendo-dropdownlist>
            </div>
            <div class="form-group">
                <label class="control-label-top">Search</label>
                <input type="text" name="searchText" class="form-control k-textbox" placeholder="All" [(ngModel)]="model.searchText" #searchText="ngModel"
                />
            </div>
            <button class="btn btn-gray ml5" kendoButton>Add Filter</button>
        </form>
    </div>
    <div class="top-button-right pull-right">
        <button class="btn btn-orange pull-right ml10" kendoButton (click)="addClient()">+ Add Client</button>
    </div>
</div>

<div class="grid-main full-width">
    <div class="grid-filter full-width">
        <div *ngFor="let item of filterText">
            <span *ngIf="item.Id!=''">{{item.Id }} : &nbsp;  {{item.Name }}
            <a (click)="onCancelClick(item.Id)" >x</a></span>
        </div>
    </div>

    <div class="grid-box full-width">
        <kendo-grid [data]="kgDataSource | async" [pageSize]="kgPageSize" (pageChange)="pageChange($event)" [skip]="kgSkip" [pageable]="true"
            [sort]="kgSort" [sortable]="{
            allowUnsort: true,
            mode: 'multiple'
            }" (dataStateChange)="stateChange($event)" (edit)="editHandler($event)" (remove)="removeHandler($event)" (sortChange)="sortChange($event)">
            <kendo-grid-column field="Name" title="Client Name" width="120px"></kendo-grid-column>
            <kendo-grid-column field="ClientTypeName" title="Client Type" width="100"></kendo-grid-column>
            <kendo-grid-column field="Contact" title="Contact" width="100"></kendo-grid-column>
            <kendo-grid-column field="PhoneNumber" title="Phone" width="100px"></kendo-grid-column>
            <kendo-grid-column field="EmailAddress" title="Email" width="100px"></kendo-grid-column>
            <kendo-grid-column field="ActivationDate" title="Activation Date" width="150px">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.ActivationDate | date :'dd/MM/yyyy'}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="DeactivationDate" title="Deactivation Date" width="150px">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.DeactivationDate | date :'dd/MM/yyyy'}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="MaxAsset" title="Asset" width="80px"></kendo-grid-column>
            <kendo-grid-column field="MaxIndividual" title="Individual" width="80px"></kendo-grid-column>
            <kendo-grid-column field="MaxVehicle" title="Vehicle" width="80px"></kendo-grid-column>
            <kendo-grid-column field="Total" title="Total" width="80px"></kendo-grid-column>
            <kendo-grid-command-column title="Action" width="80px" [locked]="true">
                <ng-template kendoGridCellTemplate>
                    <img width="16px" class="k-grid-action-btn" kendoGridEditCommand src="assets/images/edit-icon.png" title="Edit Client Details"
                        alt="Edit" />
                    <img width="12px" class="k-grid-action-btn" kendoGridRemoveCommand src="assets/images/delete-icon.png" title="Delete Client"
                        alt="Delete" />
                </ng-template>
            </kendo-grid-command-column>
        </kendo-grid>
    </div>
</div>