<div class="content-wrapper pl0">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div class="fl-form">
      <div class="box-header">
        <div class="box-title">
          <h1>
            Choose export type
          </h1>
        </div>
      </div>
      <div class="form-content">
        <div class="row">
          <div class="new-type--item col-lg-4 col-md-6 col-sm-12">
            <a routerLink="/user/export/logbook">
              <div class="blank-slate text-center"><i class="fa fa-map-o" aria-hidden="true"></i>
                <h2>Logbook</h2>
                <p>Export your trips by specified parameters.</p>
              </div>
            </a>
          </div>
          <div class="new-type--item col-lg-4 col-md-6 col-sm-12">
            <a routerLink="/user/export/daily-activity">
              <div class="blank-slate text-center"><i class="fa fa-calendar-o" aria-hidden="true"></i>
                <h2>Daily activity</h2>
                <p>Export daily driving activity.</p>
              </div>
            </a>
          </div>
          <div class="new-type--item col-lg-4 col-md-6 col-sm-12">
            <a routerLink="/user/export/odometer">
              <div class="blank-slate text-center"><i class="fa fa-tachometer" aria-hidden="true"></i>
                <h2>Odometer</h2>
                <p>View odometer values in a given time range.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>