<div class="recentalerts-box">
    <div class="box-height">
        <div class="box-height">
            <div class="title-text"> Recent Alerts </div>
            <div class="annonc-aerts-sub">
                <div class="box-height">
                    <!-- -->
                    <div class="recentalerts-field">
                        <div class="recentalerts-field-text">
                            <div class="recentalerts-field-icon">
                                <img alt="" src="assets/images/location-red.png" title="">
                            </div>
                            <b>Austracker Demo
                            <span>BETYA - 05.06.2017  |  4:37:25 PM</span>
                        </b>
                        </div>
                    </div>
                    <!-- -->
                    <div class="recentalerts-field">
                        <div class="recentalerts-field-text">
                            <div class="recentalerts-field-icon">
                                <img alt="" src="assets/images/location-yellow.png" title="">
                            </div>
                            <b>Austracker Demo
                            <span>BETYA - 05.06.2017  |  4:37:25 PM</span>
                        </b>
                        </div>
                    </div>
                    <!-- -->
                    <div class="recentalerts-field">
                        <div class="recentalerts-field-text">
                            <div class="recentalerts-field-icon">
                                <img alt="" src="assets/images/location-green.png" title="">
                            </div>
                            <b>Austracker Demo
                            <span>BETYA - 05.06.2017  |  4:37:25 PM</span>
                        </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>