<div class="container-fluid custom-modal-container">
  <!-- div class="row custom-modal-header">
    <div class="col-sm-12">
      <h1>Change Password</h1>
    </div>
  </div -->
  <div class="popup-head">
    Change Password
  </div>

  <form name='form' novalidate (ngSubmit)="f.form.valid && changeClick()" #f="ngForm" class="full-width">
    <div class="form-group">
      <label class="form-label text-left" for="Password">Current Password:</label>
      <input type="password" class="form-control" name='OldPassword' [(ngModel)]="changePasswordModel.OldPassword" #OldPassword="ngModel"
        required />
      <div *ngIf="f.submitted && !OldPassword.valid" class="err-label">Please enter Current Password</div>
    </div>
    <div class="form-group">
      <label class="form-label text-left" for="Password">New Password:</label>
      <input type="password" class="form-control" name='NewPassword' [(ngModel)]="changePasswordModel.NewPassword" #NewPassword="ngModel"
        required />
      <div *ngIf="f.submitted && !NewPassword.valid" class="err-label">Please enter New Password</div>
    </div>
    <div class="form-group">
      <label class="form-label text-left" for="ConfirmPassword">Confirm Password:</label>
      <input type="password" class="form-control" name='ConfirmPassword' [(ngModel)]="changePasswordModel.ConfirmPassword" validateEqual="NewPassword"
        #ConfirmPassword="ngModel" required />
      <div *ngIf="f.submitted && !ConfirmPassword.valid" class="err-label"> Password mismatch</div>
    </div>

    <input type="submit" [disabled]="loading" class="btn btn-orange full-width" value="{{loading == true ? 'Updating...' : 'Update'}}"
    />
    <input type="button" (click)="closeClick()" class="mt10 btn btn-gray full-width" value="Close" />
  </form>
</div>